body {
    font-family: 'Arimo' !important;
    margin: 0px !important;
    overflow-x: hidden;
}

.logo {
    background-color: inherit;
    display: inline-block;
    width: 165px;
}


.navbar-nav {
    margin-top: 45px !important;
    margin-left: 50%;
}

    .navbar-nav li a:hover {
        background-color: #2cc5f7 !important;
        color: white !important;
    }

    .navbar-nav a {
        color: #757575 !important;
        font-weight: 700 !important;
    }

.image-girl-top {
    position: absolute;
    bottom: 0%;
    z-index: 3;
    width: 35%;
    left: 30%
}

.page-header-top {
    background-color: #27343e;
    padding-top: 25px;
    padding-bottom: 25px;
}

    .page-header-top i {
        padding-right: 2px;
        font-size: 13px;
        color: #2cc5f7;
    }

    .page-header-top a {
        color: white !important;
    }



#span-mailto {
    padding-left: 30px;
}

#span-phone {
    padding-left: 10px;
    font-size: 16px;
}

.page-content {
    direction: rtl;
}

.page-content-header h2 {
    color: #27343e;
    font-size: 26px;
    font-weight: 700;
}

.page-content-header div {
    color: #cfdae2;
    position: relative;
    margin-bottom: 15px;
}

    .page-content-header div:before {
        position: absolute;
        top: 50%;
        left: calc(50% - 40px);
        right: auto;
        width: 25px;
        height: 2px;
        background-color: #cfdae2;
        content: "";
    }

    .page-content-header div::after {
        position: absolute;
        top: 50%;
        right: calc(50% - 40px);
        width: 25px;
        height: 2px;
        background-color: #cfdae2;
        content: "";
    }

.tab-pane {
    margin-right: 40px;
}

.tab-icon {
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    position: relative;
}

    .tab-icon:after {
        position: absolute;
        top: calc(50% - 7.5px);
        left: -7px;
        width: 15px;
        height: 15px;
        content: "";
        border: 2px solid white;
        transform: rotate(45deg);
        border-radius: 3px;
        border-right-color: white;
        border-bottom-color: white;
        background: #fff;
    }

    .tab-icon i {
        font-size: 24px;
    }

.nav-tabs li.active a {
    border: none !important;
}

.nav-tabs > li > a:hover {
    border-color: white !important;
    background-color: white !important;
}

.nav-tabs li p {
    text-align: center;
    font-weight: 700;
    word-wrap: break-word;
    color: black;
}



.nav-tabs li:first-child .tab-icon {
    color: #b56ae4;
    border-color: #b56ae4;
}

    .nav-tabs li:first-child .tab-icon::after {
        border-left-color: #b56ae4;
        border-bottom-color: #b56ae4;
    }

.nav-tabs li:nth-child(2) .tab-icon {
    color: #fc6137;
    border-color: #fc6137;
}

    .nav-tabs li:nth-child(2) .tab-icon:after {
        border-left-color: #fc6137;
        border-bottom-color: #fc6137;
    }

.nav-tabs li:nth-child(3) .tab-icon {
    color: #4ad26d;
    border-color: #4ad26d;
}

    .nav-tabs li:nth-child(3) .tab-icon:after {
        border-left-color: #4ad26d;
        border-bottom-color: #4ad26d;
    }



.nav-tabs li:nth-child(4) .tab-icon {
    color: #2cc5f7;
    border-color: #2cc5f7;
}

    .nav-tabs li:nth-child(4) .tab-icon:after {
        border-left-color: #2cc5f7;
        border-bottom-color: #2cc5f7;
    }



.nav-tabs li:first-child .tab-icon:hover {
    background-color: #b56ae4;
    color: white;
}

    .nav-tabs li:first-child .tab-icon:hover + p {
        color: #b56ae4;
    }

    .nav-tabs li:first-child .tab-icon:hover::after {
        background: #b56ae4;
        border-color: #b56ae4;
    }

.nav-tabs li:nth-child(2) .tab-icon:hover {
    background-color: #fc6137;
    color: white;
}

    .nav-tabs li:nth-child(2) .tab-icon:hover + p {
        color: #fc6137;
    }

    .nav-tabs li:nth-child(2) .tab-icon:hover::after {
        background: #fc6137;
        border-color: #fc6137;
    }

.nav-tabs li:nth-child(3) .tab-icon:hover {
    background-color: #4ad26d;
    color: white;
}

    .nav-tabs li:nth-child(3) .tab-icon:hover + p {
        color: #4ad26d;
    }

    .nav-tabs li:nth-child(3) .tab-icon:hover::after {
        background: #4ad26d;
        border-color: #4ad26d;
    }

.nav-tabs li:nth-child(4) .tab-icon:hover {
    background-color: #2cc5f7;
    color: white;
}

    .nav-tabs li:nth-child(4) .tab-icon:hover + p {
        color: #2cc5f7;
    }

    .nav-tabs li:nth-child(4) .tab-icon:hover::after {
        background: #2cc5f7;
        border-color: #2cc5f7;
    }



.nav-tabs li:first-child.active .tab-icon {
    color: white !important;
    background-color: #b56ae4;
}

.nav-tabs li:nth-child(2).active .tab-icon {
    color: white !important;
    background-color: #fc6137;
}

.nav-tabs li:nth-child(3).active .tab-icon {
    color: white;
    background-color: #4ad26d;
}

.nav-tabs li:nth-child(4).active .tab-icon {
    color: white;
    background-color: #2cc5f7;
}

.nav-tabs li:first-child.active a p {
    color: #b56ae4;
}

.nav-tabs li:nth-child(2).active a p {
    color: #fc6137;
}

.nav-tabs li:nth-child(3).active a p {
    color: #4ad26d;
}

.nav-tabs li:nth-child(4).active a p {
    color: #2cc5f7;
}

.nav-tabs li:first-child.active .tab-icon:after {
    background: #b56ae4;
    border-color: #b56ae4;
}

.nav-tabs li:nth-child(2).active .tab-icon::after {
    background: #fc6137;
    border-color: #fc6137;
}

.nav-tabs li:nth-child(3).active .tab-icon::after {
    background: #4ad26d;
    border-color: #4ad26d;
}

.nav-tabs li:nth-child(4).active .tab-icon::after {
    background: #2cc5f7;
    border-color: #2cc5f7;
}

.about-tabs {
    border: none !important;
}


.section-header {
    position: relative;
}

    .section-header::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../images/circle-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
        display: block;
    }

    .section-header div:nth-child(3) {
        position: absolute;
        top: 10%;
        right: 5%;
    }

    .section-header h4 {
        background-color: #7af199;
        color: white;
        font-weight: 700;
        border-radius: 3px;
        font-size: 2em;
        padding: 10px;
        z-index: 4;
    }


#contact p {
    position: relative;
}

#contact i {
    position: absolute;
    top: 10px;
}

.write-text {
    border: none;
    border-bottom: 1px solid #e3e2e2;
    width: 100%;
    height: 34px;
    margin-right: 25px;
}

    .write-text:focus {
        outline: none;
    }

#contact .row div {
    margin-left: 25px;
}

#contact input[type=button] {
    background-color: #2cc5f7;
    color: white;
    border-radius: 20px;
    border: none;
}

#contact textarea {
    border-color: #e3e2e2;
}

.section-header-text {
    position: absolute;
    right: 10%;
    z-index: 4;
    color: white;
    font-weight: bold;
}

.section-header-text-h4 {
    top: 50%;
}

.section-header-text-h1 {
    top: 60%;
}

.section-header h4 {
    padding: 10px;
    background-color: #7af199;
    border-radius: 3px;
}

@media (max-width:850px) {
    h4 {
        font-size: 16px !important;
        padding: 5px !important;
    }

    h1 {
        font-size: 22px !important;
    }
}
